.social {
    list-style: none;
}

.social li {
    padding: 10px 10px;
    font-size: 25px;
    transition: all 0.8s ease-in-out;
}

.social li:hover {
    margin-left: -30px;
    box-shadow: 2px 5px 10px grey;
}

.social li:hover .fa {
    margin-right: 20px;

}

.fa {
    color: #fff;
    transition: all 0.8s ease-in-out;
}

