.social {
    list-style: none;
}

.social li {
    padding: 10px 10px;
    font-size: 25px;
    transition: all 0.8s ease-in-out;
}

.social li:hover {
    margin-left: -30px;
    box-shadow: 2px 5px 10px grey;
}

.social li:hover .fa {
    margin-right: 20px;

}

.fa {
    color: #fff;
    transition: all 0.8s ease-in-out;
}

.desktop-only {
    display: block; /* Ensure it's visible by default */
  }
  
  @media (max-width: 768px) {
    .desktop-only {
      display: none; /* Hide on screens smaller than 768px (typical for mobile devices) */
    }
  }
